@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background-color: #fff;
    margin: 0;
}

.container {
    max-width: 100%;
}

#home, #skills, #projects, #contact {
    width: 100%;
    margin: auto;
    padding: 100px 0;
}

nav.navbar {
    background-color: #fff !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

nav.navbar a {
    font-size: 1.1rem;
    color: #333;
}

nav.navbar a:hover {
    color: #000;
}

nav h1 {
    color: #333;
    font-size: 1.5rem;
    margin: 0;
}

.jumbotron {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.projects-list ul {
    list-style: none;
    padding-left: 0;
}

.projects-list li {
    margin: 10px 0;
}

.projects-list a {
    color: #2274A5;
    text-decoration: none;
}

.projects-list a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f4f4f4;
    color: #333;
    padding-top: 2rem;
}

/* Skills section */
.skill-item {
    margin-bottom: 20px;
    color: #000;
}

.skill-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.progress {
    background-color: #e1e1e1;
    border-radius: 5px;
    height: 20px;
}

.progress-bar {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.progress .color-python { background-color: #0d8029; }
.progress .color-html { background-color: #95bd39; }
.progress .color-javascript { background-color: #bea328; }
.progress .color-css { background-color: #80ca3b; }
.progress .color-bootstrap { background-color: #bd6116; }
.progress .color-cpp { background-color: #7ebe17; }
.progress .color-json { background-color: #6eaf18; }
.progress .color-xml { background-color: #6eaf18; }
